# OS
.DS_Store

# Environment files
.env*

# Node / package
**/node_modules
**/.pnp
**/.pnp.*

# Next.js / build
**/.next
**/out
**/build
**/.turbo

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# Vercel
**/.vercel

# Misc
.qodo/
Prut/web/.git.bak/
