{
  "src/**/*.{ts,tsx}": [
    "node ./node_modules/eslint/bin/eslint.js --fix",
    "node ./node_modules/prettier/bin/prettier.cjs --write"
  ],
  "src/**/*.{json,yml}": ["node ./node_modules/prettier/bin/prettier.cjs --write"]
}
